<a href="https://colab.research.google.com/github/czokw1/ml-predict-bank-deposit/blob/master/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Project Description

#### Import libraries

In [ ]:
import pandas as pd

####Load Data

In [ ]:
dataset = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DS/Project/data/bank-full.csv',sep=';')

In [ ]:
dataset.sample(10)

       age         job   marital  education  ... pdays  previous poutcome    y
4304    28      admin.    single  secondary  ...    -1         0  unknown   no
8231    40    services  divorced    primary  ...    -1         0  unknown   no
22045   40  technician    single  secondary  ...    -1         0  unknown   no
45205   25  technician    single  secondary  ...    -1         0  unknown  yes
2371    37      admin.   married  secondary  ...    -1         0  unknown   no
42482   30    services   married  secondary  ...    -1         0  unknown  yes
23194   54  management   married   tertiary  ...    -1         0  unknown   no
11561   36      admin.   married  secondary  ...    -1         0  unknown   no
8664    39      admin.   married  secondary  ...    -1         0  unknown   no
32392   32  management   married    primary  ...    -1         0  unknown   no

[10 rows x 17 columns]