<a href="https://colab.research.google.com/github/czokw1/ml-predict-bank-deposit/blob/master/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Project Description

#### Import libraries

In [33]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

####Load Data

In [ ]:
dataset = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DS/Project/data/bank-full.csv',sep=';')

In [ ]:
dataset.sample(10)

       age         job   marital  education  ... pdays  previous poutcome    y
4304    28      admin.    single  secondary  ...    -1         0  unknown   no
8231    40    services  divorced    primary  ...    -1         0  unknown   no
22045   40  technician    single  secondary  ...    -1         0  unknown   no
45205   25  technician    single  secondary  ...    -1         0  unknown  yes
2371    37      admin.   married  secondary  ...    -1         0  unknown   no
42482   30    services   married  secondary  ...    -1         0  unknown  yes
23194   54  management   married   tertiary  ...    -1         0  unknown   no
11561   36      admin.   married  secondary  ...    -1         0  unknown   no
8664    39      admin.   married  secondary  ...    -1         0  unknown   no
32392   32  management   married    primary  ...    -1         0  unknown   no

[10 rows x 17 columns]

#### Exploratory data analysis

In [17]:
### checking data type of variables
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [18]:
### checking if there are any missing values
dataset.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [32]:
### checking descriptive statistics
dataset.describe()

                age        balance  ...         pdays      previous
count  45211.000000   45211.000000  ...  45211.000000  45211.000000
mean      40.936210    1362.272058  ...     40.197828      0.580323
std       10.618762    3044.765829  ...    100.128746      2.303441
min       18.000000   -8019.000000  ...     -1.000000      0.000000
25%       33.000000      72.000000  ...     -1.000000      0.000000
50%       39.000000     448.000000  ...     -1.000000      0.000000
75%       48.000000    1428.000000  ...     -1.000000      0.000000
max       95.000000  102127.000000  ...    871.000000    275.000000

[8 rows x 7 columns]

In [39]:
### Corealation matrix for numerical variables
corr = dataset.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

In [44]:
### target variable y
dataset['y'].value_counts()/dataset.shape[0]

no     0.883015
yes    0.116985
Name: y, dtype: float64

45211